name: CI/CD Backend Functions - Telemetry Stash

on:
  pull_request:
    paths:
      - src/backend/Functions/**
      - src/backend/Database/**
      - '.github/workflows/**'
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  build-and-publish:
    permissions:
      id-token: write
      contents: read
    uses: ./.github/workflows/backend-build.yml
    with:
      projectDirectory: src/backend/Functions/Ts.Functions
      artifactsDirectory: src/backend/Functions/Ts.Functions/publish
      artifactsName: tsfunctions
 
  deploy-dev:
    permissions:
      id-token: write
    uses: ./.github/workflows/backend-functions-deploy.yml
    needs: build-and-publish
    with:
      environment: dev
      functionAppName: func-ts-develop
      artifactsDirectory: src/backend/Functions/Ts.Functions/publish
      artifactsName: tsfunctions
    secrets:
      azureClientId: ${{ secrets.AZURE_CLIENT_ID_DEV }}
      azureTenantId: ${{ secrets.AZURE_TENANT_ID_DEV }}
      azureSubscriptionId: ${{ secrets.AZURE_SUBSCRIPTION_ID_DEV }}

  deploy-prod:
    permissions:
      id-token: write
    uses: ./.github/workflows/backend-functions-deploy.yml
    needs: deploy-dev
    with:
      environment: prod
      functionAppName: func-ts-prod
      artifactsDirectory: src/backend/Functions/Ts.Functions/publish
      artifactsName: tsfunctions
    secrets:
      azureClientId: ${{ secrets.AZURE_CLIENT_ID_PROD }}
      azureTenantId: ${{ secrets.AZURE_TENANT_ID_PROD }}
      azureSubscriptionId: ${{ secrets.AZURE_SUBSCRIPTION_ID_PROD }}

