name: CI/CD Backend Functions - Telemetry Stash

on:
  pull_request:
    paths:
      - src/backend/Functions/**
      - src/backend/Database/**
      - '.github/workflows/**'
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  build-and-publish:
    permissions:
      id-token: write # Required for OIDC
      contents: read # Required for actions/checkout
    uses: ./.github/workflows/backend-build.yml
    with:
      projectDirectory: src/backend/Functions/Ts.Functions
      artifactsDirectory: src/backend/Functions/Ts.Functions/publish
      artifactsName: tsfunctions
 
  deploy-dev:
    permissions:
      id-token: write # Required for OIDC
    uses: ./.github/workflows/backend-functions-deploy.yml
    needs: build-and-publish
    with:
      environment: dev
      functionAppName: func-ts-develop
      artifactsDirectory: src/backend/Functions/Ts.Functions/publish
      artifactsName: tsfunctions

  deploy-prod:
    permissions:
      id-token: write # Required for OIDC
    uses: ./.github/workflows/backend-functions-deploy.yml
    needs: deploy-dev
    with:
      environment: prod
      functionAppName: func-ts-prod
      artifactsDirectory: src/backend/Functions/Ts.Functions/publish
      artifactsName: tsfunctions

