name: Deploy Functions

on:
  workflow_call:
    inputs:
      artifactsDirectory:
        required: true
        type: string
      environment:
        required: true
        type: string
      functionAppName:
        required: true
        type: string
      artifactsName:
        required: true
        type: string

jobs:
  deploy-functions:
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for OIDC
    steps:
      - name: Download artifact from publish
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifactsName }}
          path: ${{ inputs.artifactsDirectory }}
      - name: 'Log in to Azure with AZ CLI'
        uses: azure/login@v2
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          tenant-id: ${{ vars.AZURE_TENANT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}
      - name: Deploy Azure Function App
        uses: Azure/functions-action@v1
        with:
          app-name: ${{ inputs.functionAppName }}
          package: ${{ inputs.artifactsDirectory }}
